html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
.center{
  margin: auto;
width: 50%;
/* border: 3px solid green; */
padding: 10px;
}

@media screen and (max-width: 1000px) {
  img {
    width: 100%;
  }
}
